{
    "daemonize" : false,
    "listen_port" : 9999,
    "loglevel" : "DEBUG",
    "logfile" : "syslog",
    "pid_file" : "/var/run/spytank-server.pid",
    "session_file" : "/tmp/spytank-server.sessions",
    "session_expire_time" : 30,
    "persistent_db" : "/etc/spytank-server.db",
    "status_file" : "/etc/connector.status"
}
